:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body {
    text-align: center;
    background: rgb(78, 70, 70);
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

h2 {
    color: white;
}

.hl{
    /* local scoped variables overwrites global one i.e the cascade rule applies here. */
    --base: #ffc600;
    color: var(--base);
}

label {
    color: white;
}

img {
    margin-top: 20px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
